@import "styles/media";


.product-item {
  position: relative;

  &__image {
    height: 144px;
    @media (min-width: $sm) {
      height: 201px;
    }
    @media (min-width: $lg) {
      height: 232px;
    }
  }

  &__info {
    margin-top: 12px;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.disabled {
      pointer-events: none;
    }

    &.cursor-pointer {
      cursor: pointer;
    }

    .rating {
      display: flex;
      align-items: center;

      &__text {
        margin-left: 4px;
        margin-top: 2px;
        line-height: 14px;
      }
    }

    .shop-name {
      @media (max-width: $sm) {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  &__affiliate-button {
    height: 36px;
    @media (min-width: $xxs) {
      height: 46px;
    }
  }
}
