@import "styles/media";

.link {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 10px;
  align-items: center;
  color: var(--color-primary-black);
  transition: color 0.1s ease-in-out;
  position: relative;
  @media (min-width: $lg) {
    font-size: 12px;
  }

  &:hover {
    color: var(--color-primary-blue);
  }

  &.with-title {
    .badge {
      @media (min-width: $sm) {
        top: -6px;
        left: 30px;
      }
    }
  }

  .badge {
    background-color: var(--color-primary-blue);
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
    min-width: 22px;
    height: 22px;
    position: absolute;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    left: 16px;
    top: -8px;
    border: 2px solid var(--color-white);
  }
}
