.messages {
  padding: 16px;
  position: relative;
  overflow-y: auto;

  .date-header {
    text-align: center;
    margin: 20px 0 10px;
    color: var(--color-text-grey);
  }
}

.message {
  position: relative;
  display: flex;

  &:not(:first-child) {
    margin-top: 8px;
  }

  &:not(.self) + .self,
  .self + &:not(.self) {
    margin-top: 12px;
  }

  &.self {
    flex-direction: row-reverse;

    .message__block {
      background: var(--color-primary-blue);
      border-radius: 22px 22px 0 22px;

      .text {
        color: var(--color-white);
      }
    }

    .message__date {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  &.image {
    .message__block {
      width: 150px;
      height: 150px;
      background: none;
      padding: 0;
      cursor: pointer;

      img {
        border-radius: 22px;
      }
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__block {
    background: var(--color-light-grey);
    border-radius: 22px 22px 22px 0;
    padding: 12px 16px;
    max-width: 577px;
    min-height: 44px;
    width: max-content;
    position: relative;

    @media (max-width: 850px) {
      width: 80%;
    }

    .text {
      line-height: 20px;
      font-size: 16px;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }

  &__date {
    display: flex;
    margin-top: 16px;
    margin-left: 8px;

    .time {
      color: var(--color-dark-grey-hover);
      font-size: 12px;
      line-height: 12px;
    }

    .status-icon {
      width: 20px;
      height: 20px;
      margin-right: 2px;
      margin-top: -2px;
    }
  }
}
