@import "styles/media";

.affiliate {
  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__nav {
    display: none;
    @media (min-width: $lg) {
      display: block;
      max-width: 292px;
      margin-right: 48px;
    }
  }

  &__content {
    flex: 1;

    .product-item-wrapper {
      @media (max-width: $xs) {
        max-width: 50%;
      }
    }
  }
}
