@import 'styles/media';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.bottom-100 {
    padding-bottom: 100px;
  }

  &.without-bottom {
    main {
      padding-bottom: 0;
    }
  }
  &.remove-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }
}

.main {
  padding-bottom: 72px;
  flex: 1;
  @media (min-width: $sm) {
    padding-bottom: 88px;
  }
  @media (min-width: $lg) {
    padding-bottom: 96px;
  }
}
