.productImageSliderWrapper {
  .slide {
    padding: 4px;
    background: var(--color-light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    .slide_image {
      width: 92px;
      aspect-ratio: 1 / 1;
    }
  }
}
