@import 'styles/colors';

.btn_favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  column-gap: 8px;

  span {
    margin-top: 2px;
  }
}
