.CheckModal {
  padding: 16px 16px 0;
  display: flex;
  flex-direction: column;

  &__check {
    padding: 16px;
    border-radius: 8px;
    background: rgb(247, 248, 252);
    word-break: break-all;
  }

  &__img {
    width: 60px;
    height: 60px;
  }

  &__productInfo {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
