@import 'styles/media';


.product-name {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 32px;
  @media (min-width: $sm) {
    height: 36px;
  }
}
