.become-seller-button {
  border-radius: 30px;
  background-color: var(--color-extra-light-blue);
  color: var(--color-primary-black);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  column-gap: 4px;
}
