@import "styles/media";

.btn {
  min-width: 46px;
  max-width: 46px;
  background-color: var(--color-primary-blue);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  height: 46px;
  margin-right: 4px;
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  transition: background-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: 14px;
  line-height: 18px;
  @media (min-width: $lg) {
    min-width: 130px;
    max-width: 130px;
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--color-primary-blue-hover);
  }

  &__text {
    display: none;
    @media (min-width: $lg) {
      display: block;
    }
  }

  &__lines {
    width: 16px;
    height: 16px;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      background-color: #fff;
      width: 16px;
      height: 2px;
      content: '';
      left: 0;
      top: 50%;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }

    &::after {
      top: 10px;
    }

    &::before {
      top: 4px;
    }
  }

  &[aria-expanded='true'] &__lines::before {
    transform: rotate(45deg);
    top: 7px;
  }

  &[aria-expanded='true'] &__lines::after {
    transform: rotate(-45deg);
    top: 7px;
  }
}
