$blue1: #1c84d7;
$neutral_full_white: #ffffff;
$neutral_background: #eef1f5;
$neutral_input_field: #d1d7df;
$neutral_gray: #596370;
$neutral_gray2: #949ca5;
$neutral_black: #292929;
$neutral_black_blue: #2b333e;
$green1: #39be6e;
$btn_hover_blue: #2491e8;
$neutral_just_black: #2c2e2f;
