:root {
  --color-white: #fff;
  --color-primary-black: #01070d;
  --color-extra-light-blue: #e5f2ff;
  --color-primary-blue: #007aff;
  --color-primary-blue-hover: #006de3;
  --color-primary-blue-disable: rgba(0, 122, 255, 0.4);
  --color-light-blue: #71b6fa;
  --color-light-blue2: #e5f2ff;
  --color-light-blue-hover: #d1e5fa;
  --color-light-grey: #f7f8fc;
  --color-dark-grey: #eaecf2;
  --color-dark-grey2: #5e6774;
  --color-usual-grey: #dadce5;
  --color-divider-grey: #dadbdd;
  --color-text-grey: #727686;
  --color-green: #4dcf6f;
  --color-dark-grey-hover: #b3b6c6;
  --color-light-grey-hover: #f1f2f4;
  --color-extra-red: #ff453a;
  --color-orange: #ffa32d;
  --color-peach: #ff5f54;
  --color-white-grey: rgb(247, 248, 249);
  --color-middle-grey: rgb(128, 138, 152);

  --color-shadow: #5e67741a;
  --font-primary: 'ObjectSans', sans-serif;
  --font-secondary: 'ObjectSansMedium', 'ObjectSans', sans-serif;
}
